home-screen {
    width: 50%;
    min-width: 300px;
    height: 60vh;
}

.home-button {
    height: 60px;
    width: 60%;
    margin: 20px;
    background-color: #c3f4f6;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 0%;
}