@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  margin: 5px;
  min-width: 150px;
  font-size: larger;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; 
  padding-left: 1.25rem;
  padding-right: 1.25rem; 
  border-radius: 0.5rem; 
  width: 100%; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  text-align: center; 
  color: #ffffff; 
  background-color: #1D4ED8; 

  @media (min-width: 640px) { 
    width: auto; 
  }
}
button:hover {
  background-color: #1E40AF; 
}
button:disabled{
  background-color: lightgray;
}

h1{
  font-size: 56px;
}
input{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
}